{% extends "base.html" %}
{% block title %}My Blog{% endblock %}

{% block banner %}
  <div class="container has-text-centered">
    <h1 class="title">
      Welcome to My Block Post!!!
    </h1>
    <h2>ยินดีต้อนรับเข้าสู่หน้าข่าวสาร ท่านสามารถติดตามโปรโมขันดีๆ เรื่องราวดีๆ การรีวีวสินค้าได้ที่นี่</h2>
  </div>
{% endblock %}

{% block content %}
<div class="sandbox">
  <div class="tile is-ancestor">
    {% for post in posts %}
    <div class="tile is-parent is-shady">
      <article class="tile is-child notification is-white">
        <p class="title">{{ post.title }}</p>
        <p class="subtitle">{{ post.body }}</p>
    </article>
    </div>
    {% endfor %}
  </div>
  
</div>
{% endblock %}




